[submodule "authentication"]
	path = Authentication
	url = https://github.com/ltdufpb/authentication.git
	branch = main
[submodule "backend"]
	path = Core-Backend
	url = https://github.com/ltdufpb/backend.git
	branch = main
[submodule "calc_engine"]
	path = Calculation-Engine
	url = https://github.com/ltdufpb/calc_engine.git
[submodule "frontend"]
	path = Core-Frontend
	url = https://github.com/ltdufpb/frontend.git
	branch = main
[submodule "gateway"]
	path = Gateway
	url = https://github.com/ltdufpb/gateway.git
	branch = main
[submodule "map_component"]
	path = Map-Component
	url = https://github.com/ltdufpb/map_component.git
	branch = main
