VITE_BASE_URL=${BASE_URL}${AUTHENTICATION_FRONTEND_KEYCLOAK_BASE_URL}
VITE_KEYCLOAK_API_URL=${AUTHENTICATION_BASE_KEYCLOAK_FRONTEND_URL}
VITE_BACKEND_API_URL=${APP_URL}${AUTHENTICATION_BACKEND_KEYCLOAK_BASE_URL}
VITE_FRONTEND_USR_URL=${APP_URL}
VITE_GOV_URL=${GOV_URL}
VITE_GOV_CLIENT_ID=${GOV_CLIENT_ID}
VITE_REDIRECT_PARAMS_LANG=true
VITE_REDIRECT_PARAMS_TOKEN=true